{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "prettier"
  ],
  "rules": {
    "@next/next/no-img-element": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "jsx-a11y/alt-text": "off",
    "react/display-name": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-shadow": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "react-hooks/exhaustive-depfs": "off",
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 5
      }
    ],
    "nonblock-statement-body-position": "off",
    "curly": "off",
    "import/no-extraneous-dependencies": "error",
    "no-unused-vars": "warn"
  }
}
