{
  "trailingComma": "es5",
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
