.dotFlashing {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #F07D60;
  color: #F07D60;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dotFlashing::before,
.dotFlashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dotFlashing::before {
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #F07D60;
  color: #F07D60;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dotFlashing::after {
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #F07D60;
  color: #F07D60;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #F07D60;
  }

  50%,
  100% {
    background-color: #ebe6ff;
  }
}